header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    background-color: #ffffff; 
    padding-left: .5em;
}

form {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

header > * {
    flex-grow: 1;
}

header .logo-container {
    display: flex;
    align-items: center;
    width: 60%;
}

header .logo-text {
    font-family: 'Arial', sans-serif; 
    font-size: 1.4rem; 
    color: #ff4500; 
    font-weight: 300; 
}
  
header .logo-text strong {
    color: #2c3e50; 
    font-weight: 700; 
}

form.search {
    display: flex;
}

header input {
    width: 100%;
    border-radius: .5em;
    background-color: #eef2f4;
    padding: 1em;
    border: none;
}

header button{
    margin-left: .1em;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: #fff;
}

.logo-icon {
    color: rgb(227, 91, 100);
    width: 4rem;
    height: 2rem;
}

header .search-icon{
     width: 4rem;
     height: 2em;
}

header input, header button {
    height: 2rem;
}


